*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1b1afe;
    border-bottom: 2px solid rgba(231, 231, 231, 0.2);

}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

li a{
    color: #e7e7e7;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.li-pages{
    display: flex;
    align-items: center;
    gap: 5px;
}

.green-button{
    background-color: #a7f36d;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.white-button{
    background-color: #e7e7e7;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.button-container{
    display: flex;
    gap: 15px;
}

.search-icon{
    background: transparent;
    border: none;
}

i{
    font-size: 20px;
    color: #e7e7e7;
}

.fa-chevron-down{
    font-size: 15px;
}

/* main */

/*hero*/

.hero {
    padding: 20px;
    background-image: url(assets/hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px 0 20px 50px;
    gap: 35px;
}

.hero-text h3{
    color: #a7f36d;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.hero-text h2{
    color: #e7e7e7;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

.hero-text p{
    color: #e7e7e7;
    line-height: 1.5;
}

.buttons-hero{
    display: flex;
    gap: 15px;
}

.hero-features{
    display: flex;
    gap:15px;
}

.hero-features p{
    display: flex;
    gap: 10px;
}

.hero-features i{
    color: #a7f36d;
}

