*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1b1afe;
    border-bottom: 2px solid rgba(231, 231, 231, 0.2);

}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

li a{
    color: #e7e7e7;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.li-pages{
    display: flex;
    align-items: center;
    gap: 5px;
}

.green-button{
    background-color: #a7f36d;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.white-button{
    background-color: #e7e7e7;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.black-button{
    background-color: #000000;
    color: #e7e7e7;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 120px;
    font-weight: bold;
}

.button-container{
    display: flex;
    gap: 15px;
}

.search-icon{
    background: transparent;
    border: none;
}

i{
    font-size: 20px;
    color: #e7e7e7;
}

.fa-chevron-down{
    font-size: 15px;
}

/* main */

/*hero*/

.hero {
    padding: 20px;
    background-image: url(assets/hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px 0 20px 50px;
    gap: 35px;
}

.hero-text h3{
    color: #a7f36d;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.hero-text h2{
    color: #e7e7e7;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

.hero-text p{
    color: #e7e7e7;
    line-height: 1.5;
}

.buttons-hero{
    display: flex;
    gap: 15px;
}

.hero-features{
    display: flex;
    gap:15px;
}

.hero-features p{
    display: flex;
    gap: 10px;
}

.hero-features i{
    color: #a7f36d;
}

/*Our Clients*/

.our-clients {
    padding: 20px;
    background-color: #ffffff;
    height: 100vh;
    margin-top: 80px;
}

.our-clients-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 50px;
    gap: 35px;
}

.our-clients-text h3{
    color: #1b1afe;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.our-clients-text h2{
    color: #000000;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

.our-clients-text p{
    text-align: center;
    width: 50%;
    color: #92959a;
    font-weight: 400;
    line-height: 1.5;
}

.client-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.client-logos img{
    width: 220px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    object-fit: contain; 
    height: auto; 
}

/*about-us*/

.about-us {
    padding: 20px;
    background-color: #f1f4f9;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-us-text{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    gap: 35px;
}

.about-us-text h3{
    color: #1b1afe;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.about-us-text h2{
    color: #000000;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

.about-us-text ul{
    display: flex;
    gap: 10px;
}

.about-us-text li{
    color: #000000;
    font-weight: bold;
    border: 2px solid #cdcccc;
    padding: 5px 10px;
    border-radius: 50px;
    
}

.about-us-text p{
    color: #92959a;
    font-weight: 400;
    line-height: 1.5;
}

.about-us img{
    width: 40%;
    padding: 30px;
}

/*our-features*/

.our-features {
    padding: 20px;
    background-color: #ffffff;
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 80px;
}

.our-features-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 35px;
}

.our-features-text h3{
    color: #1b1afe;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.our-features-text h2{
    color: #000000;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.5;

}

.our-features-text p{
    text-align: center;
    width: 50%;
    color: #92959a;
    font-weight: 400;
    line-height: 1.5;
}

.our-features-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 6px 6px 14px 0px rgba(196,196,196,0.41);
    -webkit-box-shadow: 6px 6px 14px 0px rgba(196,196,196,0.41);
    -moz-box-shadow: 6px 6px 14px 0px rgba(196,196,196,0.41);
    width: 300px;
}

.card p{
    text-align: center;
    color: #92959a;
    font-weight: 400;
    line-height: 1.5;
}


.fa-code-branch{
    font-size: 20px;
    color: #1b1afe;
}

.fa-cloud{
    font-size: 20px;
    color: #ff9517;
}

.fa-code{
    font-size: 20px;
    color: #17e02e;
}

.learn-more-button{
    color: #1b1afe;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}

.learn-more-button i{
    color: #1b1afe;
    font-size: 15px;
}

.icon-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f3ff;
}

.icon-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fef9f2;
}

.icon-container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5fef5;
}

/*how-it-works*/

.how-it-works {
    padding: 20px;
    background-color: #1b1afe;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
}

.how-it-works-text{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px 0 20px 50px;
    gap: 35px;
}

.how-it-works-text h3{
    color: #ffffff;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.how-it-works-text h2{
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

.how-it-works-text p{
    color: #ffffff;
    line-height: 1.5;
}

.how-it-works-text button{
    width: 120px;
}

.how-it-works-steps{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px;
}

.how-it-works-containers{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding: 30px;
    border: 1px solid #a7f36d;
    border-radius: 10px;
    background-color: transparent;
    width: 300px;
}

.how-it-works-containers h2{
    font-size: 2.2rem;
    color: #a7f36d;
}

.how-it-works-containers h3{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
}

.how-it-works-containers p{
    color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
}

/*our-members*/

.our-members {
    padding: 20px;
    background-image: url(assets/our-members-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.our-members-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    margin-right: 50px;
    gap: 35px;
}

.our-members-text h3{
    color: #a7f36d;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.our-members-text h2 {
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}


.our-members-cards{
    display: flex;
    justify-content: center;
    
    gap: 20px;
    padding: 40px;
    margin: 40px;
}

.our-members-containers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 6px 6px 14px 0px rgba(196,196,196,0.41);
   
}

.our-members-containers h2{
    color: #1b1afe;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 1.5;
    display: flex;
}

.our-members-containers p{
    color: #92959a;
    font-weight: 400;
    line-height: 1.5;
}

.our-members-containers h2 span{
    color: #1b1afe;
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 1.5;
}